@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

body {
  font: 13px Helvetica, Arial;
}

#inputBox {
  background: lightgray;
  padding: .5em;
  position: fixed;
  bottom: 0;
  width: 98%;
  margin-left: 1%;
  border-radius: 1em;
}

  #inputBox input {
    border: 0;
    padding: .75em;
    width: 100%;
    /*margin-right: .5%;*/
  }

  #inputBox button {
    /*width: 9%;*/
    background: darkseagreen;
    border: none;
    padding: .8em;
    width: 100%;
    height: 100%;
  }

#chatDisplay {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*float: right;*/
  border: solid .5em yellowgreen;
  width: 25em;
  height: 44em;
}

  #chatDisplay li {
    padding: 5px 10px;
    margin-left: 0;
    margin-right: 0;
  }

    #chatDisplay li:nth-child(odd) {
      background: #eee;
    }

/*Only background of hovering current cell*/
.table-hover > tbody > tr > td:hover, .table-hover > tbody > tr > td:hover {
  background-color: lightgray !important;
}

/*reset the default bootstrap style on tr:hover*/
.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
  background-color: white;
}
table.table tbody tr td,
table.table thead tr th,
table.table thead {
  /*border-left: 1px solid black;
  border-right: 1px solid black;*/
  border: 1px solid black;
}
.table tbody tr td{
  width:10em;
  height: 10em;
}

#main{
  /*width: 50%;*/
  /*float: left;*/
  margin-top:3em;
  margin-left:3em;
}

.icon-o{
  text-align: center;
  width: 100%;
  color: darkred;
  font-size: 8em;
}
.icon-x {
  text-align: center;
  width: 100%;
  color: dodgerblue;
  font-size: 8em;
}

.padding-adjust-send-btn{
  padding-left: 0;
  padding-right: .5em;
}

.padding-adjust-input{
  padding-left: .5em;
  padding-right: 0;
}
