
<body>
  <div id="main" class="">
    <table id="gameTb" class="table table-hover">
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <ul id="chatDisplay"></ul>
  <div id="inputBox">
    <input id="chatInput" autocomplete="off" /><button id="chatBtn">Send</button>
  </div>
</body>

