<div class="">
  <div class="background-img">

  </div>
  <div class="main" *ngIf="!multiService.loading">
    <div class="row">
      <div [@greet]="state" class="col text-center">
        <p>{{ greeting }}</p>
      </div>
    </div>
    <div class="row text-center">
      <div *ngIf="multiService.player == null" class="col">
        <mat-form-field>
          <mat-label>How can we call you?</mat-label>
          <input matInput [(ngModel)]="nickName">
        </mat-form-field>
      </div>
    </div>
    <div class="row text-center">
      <div class="col">
        <button mat-raised-button (click)="openModalView()">Choose</button>
      </div>
    </div>
  </div>


  <div *ngIf="multiService.loading">
    <div class="row"></div>
    <div class="row">
      <div class="col">
        Looking for players...
      </div>
    </div>
    <div class="row">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="row"></div>
    <div class="row"></div>

  </div>

</div>
